@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;

}


*,*:before, *:after {
    box-sizing: inherit;
}

img {
	width: 100%;
	display: block;
}

body {
		background-image: url("../img/JBGuoI.png");
		background-size: 20em;
		margin: 0;
}

h1 {
	margin: 0;
	color: white;
}

h2 {
	margin: 0;
}

p {
	margin-top: 10px;
}

a {
	text-decoration: none;
}

.main-card {
	margin: 3em;
	background-color: #bed0ff;
}

.me {
	padding: 1em;
}


.abt-me {
	padding: 1em;
	margin: 5px 5px 5px 5px;
	background-color: white;
	color: #bed0ff;
}




